{% extends 'base.html' %}
{% block head  %}


{% load static %}
{% endblock  %}
{%block body %}

<br>
<br>
<head>
    <title>Homepage</title>
<style type="text/css">
 .jumbotron{
  padding-top: 20%;
  padding-bottom: 20%;
  margin-top: 25px;
  min-height: 600px;
  max-width: 5000px;
  background-image: url('/static/Personnel/img/wallpaper.jpg');
  background-size: cover;
  color: white;
}
</style>
</head>
<body>
<div class="container">
    <div class="jumbotron" align="center">
        <h1>WELCOME TO FOREST MONITORING TOOL</h1>
        <p><h2>The App that monitors your Forest</h2>
        <p> To get alerts in your area of interest please subscribe below:</p>
         <a class="btn btn-primary btn-lg" href="#" role="button">Subscribe</a>
        </div>
</div>

</body>




{% endblock  %}
